<ion-header>
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="loadTheThingsSlow()">Load the Things Slowly</ion-button>
  <ion-button (click)="loadTheThingsQuick()"
    >Load the Things Quickly</ion-button
  >
  <ion-button (click)="loadObservables()">Load Observables</ion-button>
</ion-content>
